<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>..\..\..\dist\server\linux-x64\</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained> <!-- Optional: bundle runtime -->
    <PublishSingleFile>false</PublishSingleFile>
    <PublishReadyToRun>false</PublishReadyToRun>
    <PublishTrimmed>false</PublishTrimmed>
    <PublishAot>false</PublishAot> <!-- Optional: for Native AOT, .NET 7+ -->
    <TrimMode>link</TrimMode> <!-- Optional: aggressive trimming -->
    <InvariantGlobalization>true</InvariantGlobalization> <!-- Optional: smaller globalization data -->
    <DebugType>none</DebugType>
    <IncludeSatelliteAssembliesForPublish>false</IncludeSatelliteAssembliesForPublish>
  </PropertyGroup>
</Project>